# Основной веб-фреймворк для создания приложения
Flask==3.0.2

# Расширение для управления аутентификацией пользователей
Flask-Login==0.6.3

# WSGI-утилиты для работы с Flask
Werkzeug==3.0.1

# WSGI HTTP-сервер для развертывания приложения
gunicorn==21.2.0 
