{# Наследование от базового шаблона #}
{% extends "base.html" %}

{# Установка заголовка страницы #}
{% block title %}Главная страница{% endblock %}

{# Основной контент страницы #}
{% block content %}
<div class="card">
    <div class="card-body">
        {# Заголовок приветствия #}
        <h1 class="card-title">Добро пожаловать!</h1>
        {# Отображение количества посещений страницы #}
        <p class="card-text">Вы посетили эту страницу {{ visits }} раз.</p>
    </div>
</div>
{% endblock %} 